.div1 {
    width: 100px;
    height: 80px;
    background-color: yellow;
}

.div2 {
    width: 100px;
    height: 80px;
    background-color: green;
}

.div3 {
    width: 100px;
    height: 80px;
    background-color: red;
}